pip3 install time
pip3 install tkinter
pip3 install threading
pip3 install socket
pip3 install queue
pip3 install sys
pip3 install pandas
pip3 install time
pip3 install gtts
pip3 install playsound
pip3 install os
pip3 install sys
pip3 install json
pip3 install path
pip3 install speech_recognition
pip3 install numpy
pip3 install pydub
pip3 install vosk
pip3 install pydiar
pip3 install datetime
pip3 install matplotlib
pip3 install numpy
pip3 install librosa
pip3 install PIL
pip3 install pathlib
pip3 install csv
pip3 install sklearn
pip3 install keras
pip3 install warnings
